textarea{
  width: 100%;
  border: 1px solid rgba(0,0,0,.125);
  height: 4em;
}


img {
  width: 100%;
}

.icon{
  width: 1.5rem;
}

.blank-button{
  border: none;
  background: transparent;
  padding: 0;
}

.card-img, .cardBody{
  border-radius: 0px;
}
