.nav-container{
  margin: 0;
  padding:0;
  position: fixed;
  bottom:0;
  background: #7acc8f;
  width: 100vw;
  text-align: center;
}

.nav-item{
  width:25%;
  float: left;
  height: 100%;
}

img.nav-img{
  width:30px;
  padding: 10px 0 10px 0;
}
