.post-widget-container{
  margin-top: 20px;
}
.post-widget{
  padding: 10px;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 10px;
  margin-top: 10px;
}

.post-widget-options{
  margin: 10px 0 10px 0;
}
.post-widget-options>li.col{
  font-size: .7em;
}
.full-width{
  width: 100%;
}

.post-widget-button{
  background-color: #7acc8f !important;
  border-color: #7acc8f !important;
}
